body {
    width: 100vw;
    height: 100vh;
    font-family: "comfortaa", helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
    background-color: #ffffff;
    color: #000000;
    text-size-adjust: none;
    box-sizing: border-box;
    display: inline-block;
}

#secao{
    width: 100%;
    background-color: inherit;
    overflow-x: hidden;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;  
}

.secao-principal{
    min-width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;   
}

.secao-principal.conteudo-principal{
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    max-width: 48rem;
    margin: 0 auto;
    text-align: left;
}

h1{
    color: #000000;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.05em;
    display: block;
    margin: 4rem 2rem 4rem 2rem;
}

.texto-principal{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
    margin: 2rem 2rem 3em 2rem
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    margin: 1rem 2rem 1em 2rem
}

.botao-principal{
    list-style: none;
    text-decoration: none;
}

ul li {
    text-decoration: none;
    margin: 1rem 2rem 1em 2rem
}

.secao-principal.imagem-principal img{
    object-position: right;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;  
}

.imagem-principal{
    padding-right: 2rem;
    padding-top: 2rem;
    display: inline-block;
    position: relative;
}

img{
    height: 550px;
    border: solid 5px;   
}

.texto-esquerda{
    padding-right: 2rem;
    text-align: left;
}

.imagem{
    text-align: center;
}

h2{
    color:#000000;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 0 0 1rem 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;  
}

h3{
    color:#000000;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 0 0 1rem 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.link-botao{
    margin: 0 0 2rem 0rem;
    min-width: 14em;
    font-size: 0.8rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 3em;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;  
}

.link-botao:hover{
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
    border-radius: 4em solid #47d3e5; 
}
.link-botao:active{
    background-color: rgba(71, 211, 229, 0.2);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;  
}

.paragrafo-quiz{
    padding-right: 2rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    margin: 1rem 2rem 1em 2rem;
    text-align: left;
}

:root {
    --principal: #03a9f4;
    --secundaria: #0d47a1;
    --azul-escuro: #0d47a1;
    --cinza-escuro: #222;
    --branco: #fff;
    --verde: #4caf50;
    --vermelho: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.25rem;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ececec;
    color: #191919;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100vh;
}

section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin: 0.5rem 0 0 0;
}

/* classe para centralizar textos, paragrafos */
.centro {
    text-align: center;
}

/* div class questao com numero da questao e pergunta */
.questao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#numQuestao {
    text-align: center;
    width: 2rem;
    height: 2rem;
    display: block;
    background: var(--principal);
    color: #fff;
    padding: 6px 10px 4px 8px;
    border-radius: 50%;
}

#pergunta {
    margin-left: 1rem;
}

.imagemDaQuestao {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* article que acomoda a questao completa */
.questoes {
    user-select: none;
    background: #fff;

    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 0.625rem;
}

.questoes ol li {
    border: 1px solid var(--principal);
    display: block;
    margin-bottom: 0.625rem;
    padding: 1rem;
    border-radius: 8px;
}

.questoes ol li:hover {
    background: var(--principal);
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
}

#instrucoes {
    font-size: 1rem;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
}

#aviso {
    color: var(--principal);
}

#autoria {
    margin-top: 0.625rem;
    font-size: 0.75rem;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px var(--principal));
        -webkit-filter: drop-shadow(0 0 15px var(--principal));
        -moz-filter: drop-shadow(0 0 15px var(--principal));
        -o-filter: drop-shadow(0 0 15px var(--principal));
        -ms-filter: drop-shadow(0 0 15px var(--principal));
    }
    100% {
    }
}

.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.acertou {
    background: var(--verde);
    animation: aparecer 0.1s infinite alternate;
}

.errou {
    background: var(--vermelho);
    animation: aparecer 0.1s infinite alternate;
}

.placar {
    padding: 1rem;
    border-radius: 8px;
    background:#03a9f4;
    font-size: 2rem;
}

.botao{
    margin: 2rem 0 2rem 0rem;
    min-width: 14em;
    font-size: 0.8rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 3em;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
    border: 0;
    cursor: pointer;
    display: block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;  
}

.botao:hover{
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
    border-radius: 4em solid #47d3e5; 
}

.botao:active{
    background-color: rgba(71, 211, 229, 0.2);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;  
}



.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.redes {
    text-align: center;
    padding: 4px;  
}

.redes__link {
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.redes__link:hover {
    opacity: .6;
}

.icone {
    text-align: center;
    border: none;
    padding: 4px;
    width: 24px;
    margin: 0 4px;
    margin-top: 1px;
}

.icone--texto {
    width: 24px;
    border: none;
    margin: 0 8px;
}

.footer-texto{
    font-size: 14px;
    font-weight: 700;
    color:#222;
    display: flex;
    align-items: center;
    border: none;
}

.botao-quiz{
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    body{
        margin: 0;
    }

    .secao-principal {
        margin: 0;
        display: block;
        
    }
    
    .texto-principal{
        width: 100vh;
        text-align: center;
        padding: 1rem;
        margin: 0 ;
    }

    h1{
        width: 100vh;
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    .botao{
        width: 100vh;
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    .imagem-principal img{
        width: auto;
        text-align: center;
        padding: 1rem;
        border: none;
        margin: 0;
    }

    .texto-esquerda {
        width: 100vh;
        text-align: left;
        padding: 2rem 2rem 2rem 2rem;
        margin: 0;
    }

    .imagem img{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 2rem 2rem 2rem 2rem;
        border: none;
        margin: 0;
    }
} 

@media screen and (max-width: 600px){
    body{
        margin: 0;
    }

    .secao-principal {
        margin: 2em;
        padding: auto;
        display: block;
        
    }
    
    .texto-principal{
        width: 65vw;
        text-align: center;
        padding: 1rem;
        margin: 0;
        font-size: 0.75rem;
    }

    h1{
        width: 65vw;
        text-align: center;
        padding: auto;
        margin: 0;
        font-size: 3rem;
    }

    .botao{
        width: 65vw;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
    }

    .link-botao{
    margin: 0;
    min-width: 7em;
    font-size: 0.5rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 3em;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;  
    }

    .imagem-principal img{
        width: 240px;
        height: auto;
        text-align: center;
        padding: 1rem;
        border: none;
        margin: 0;
    }

    .texto-esquerda {
        display: block;
        width: 65vw;
        text-align: left;
        font-size: 0.5rem;
    }

    h2{
        width: 65vw;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
        font-size: 2rem;
    }
    
    h3{
        width: 65vw;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
        font-size: 1em;
    }

    p{
        width: 65vw;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
        text-align: center;
        font-size: 0.75rem;
    }

    .imagem img{
        width: 80%;
        height: 100%;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        border: none;
        margin: 0;
    }

    ul li{
        margin: 0;
        font-size: 0.65rem;
    }

    .quiz{
        margin: 2em;
        padding: auto;
        display: block;
    }

    .paragrafo-quiz{
        width: 65vw;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
        text-align: center;
        font-size: 0.75rem;
    }

    .botao-quiz{
        margin: 0;
        padding: 1rem 1rem 1rem 1rem;
        text-align: center;
        width: 65vw;
    }
    
    .footer{
        display: block;
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
    }

    
    .redes{
        display: none;
    }

}







