body {
    font-family: "fira code", helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
    background-color: #ffffff;
    color: #000000;
    text-size-adjust: none;
    box-sizing: border-box;
    display: inline-block;
}

#secao{
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
    
}


.secao-principal{
    min-width: 100vh;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;
    
    
   
}

.secao-principal.conteudo-principal{
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    max-width: 48rem;
    margin: 0 auto;
    text-align: left;
}

h1{
    color: #000000;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.05em;
    display: block;
    margin: 4rem 2rem 4rem 2rem;
}

.texto-principal{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    margin: 2rem 2rem 3em 2rem
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    margin: 1rem 2rem 1em 2rem
}

.botao{
    list-style: none;
}

ul li {
    margin: 1rem 2rem 1em 2rem
}

.secao-principal.imagem-principal img{
    object-position: right;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.imagem-principal{
    border: 0;
    display: inline-block;
    position: relative;
}

img{
    padding-top: 2rem;
    height: 550px;
    
}


.texto-esquerda{
    text-align: left;
}

.imagem{
    text-align: center;
}

h2{
    color:#000000;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 0 0 1rem 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    
}

h3{
    color:#000000;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 0 0 1rem 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

a{
    margin: 0 0 2rem 0rem;
    min-width: 14em;
    font-size: 0.8rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 3em;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;  
}

a:hover{
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
    border-radius: 4em solid #47d3e5; 
}
a:active{
    background-color: rgba(71, 211, 229, 0.2);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;  
}

